body {
    font-family: sans-serif
}

#top-section {
    background-color: black;
    width: 2000px;
    
}

h1,h2 {
    font-family: Georgia;
    color: whitesmoke;
}
    
body {
    background-image: url(https://wallpaperaccess.com/full/413590.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size:auto;
   
}

p { 
    color: rgb(255, 255, 255);
font-size: 22px;
font-family: Georgia;
}

#map{


    display: block;  
    margin-left: auto;  
    margin-right: auto;  
    border: 8px ridge rgb(0, 0, 0);  
    padding: 5px;
}
    
.paragraph-background {
    background-color: rgba(0, 0, 0, 0.167);
}

#second-paragraph { 
    background-color: rgba(0, 0, 0, 0.167) ;
}