body {
    font-family: 'Poppins', sans-serif;
}
.h1-area{
    background-image: linear-gradient(rgb(11, 127, 251),rgb(208, 203, 203) );
}

.top-navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    
}

.link-navigation {
    padding: 10px 30px;
    margin: 30px;
    text-decoration: none;
    border: 2px solid rgb(223, 224, 225);
    border-radius: 20px;
    background-color: rgba(11, 127, 251);
    color: white;
}

.link-navigation :hover {
    color: rgba(11, 127, 251);
    background-color:rgb(4, 6, 8);
}

